.subtitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    margin: auto;
    padding: auto;
    text-decoration: none;
}

.cardStyle, .products{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}